<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ClasssMapper">
	<resultMap id="classResultSet" type="Classs">
		<id property="cNo" column="CLASS_NO"/>
		<result property="ornerId" column="ORNER_ID"/>
		<result property="title" column="CLASS_TITLE"/>
		<result property="comment" column="CLASS_COMMENT"/>
		<result property="memberCount" column="MEMBER_COUNT"/>
		<result property="nowMemberCount" column="MEMBER_COUNT_NOW"/>
		<result property="level" column="LEVEL"/>
		<result property="local" column="LOCAL"/>
		<result property="schedule" column="CLASS_SCHEDULE"/>
		<result property="time" column="CLASS_TIME"/>
		<result property="inviteCode" column="INVITE_CODE"/>
		<result property="classCount" column="CLASS_COUNT"/>
		<result property="cateId" column="C_ID"/>
		<result property="classCreateDate" column="CLASS_CREATE_DATE"/>
	</resultMap>

	<resultMap id="JoinwaitResultSet" type="Joinwait">
		<id property="cNo" column="CLASS_NO"/>
		<result property="mId" column="MID"/>
		<result property="introduce" column="INTRODUCE"/>
		<result property="joindate" column="JOINDATE"/>
	</resultMap>
	<resultMap id="cateResultSet" type="Category">
		<id property="cId" column="C_ID"/>
		<result property="name" column="NAME"/>
	</resultMap>
	
	<resultMap id="ClassNoticeResultSet" type="ClassNotice">
	  <id property="cnid" column="CNID" /> 
	  <result property="cNo" column="REFER_CNO" /> 
	  <result property="id" column="REFER_ID" /> 
	  <result property="nick" column="REFER_NICK" /> 
	  <result property="title" column="TITLE" /> 
	  <result property="content" column="NOTICE_CONTENT" /> 
	  <result property="createDate" column="CREATE_DATAE" /> 
	  <result property="views" column="VIEWS" /> 
  	</resultMap>
 	<resultMap id="replyResultMap" type="Reply">
	  <id property="rId" column="RID" /> 
	  <result property="writerId" column="MID" /> 
	  <result property="writerNickname" column="NICK" /> 
	  <result property="content" column="RE_CONTENT" /> 
	  <result property="createDate" column="CREATE_DATE" /> 
	</resultMap>
	


	<insert id="insertClass">
		INSERT INTO CLASSS VALUES(
			'cNo' || cno_seq.nextval, #{ornerId}, #{title},
			#{memberCount}, 1, #{level}, #{local}, #{schedule}, #{time},
			'abc', DEFAULT, #{cateId}, SYSDATE , #{comment}
		)
	</insert>
	<select id="selectcNoOne" resultType="string">
		select *
		from ( select * from classs
				where orner_id = #{id} order by class_create_date desc) 
		where rownum = 1
	</select>
	<select id="selectClassList" resultMap="classResultSet">
		SELECT *
		FROM CLASSS
		ORDER BY CLASS_CREATE_DATE DESC
	</select>
	<select id="classViewList" resultMap="classResultSet">
	   SELECT *
	   FROM CLASSS
	   ORDER BY MEMBER_COUNT_NOW DESC
	</select>
	<select id="selectCateList" resultMap="cateResultSet">
		SELECT *
		FROM CATEGORY
	</select>
	<select id="selectClassOne" resultMap="classResultSet">
		SELECT *
		FROM CLASSS
		WHERE CLASS_NO = #{cNo}
	</select>
	<update id="upCount">
		UPDATE CLASSS
		SET CLASS_COUNT = CLASS_COUNT + 1
		WHERE CLASS_NO = #{cNo}
	</update>
	<select id="searchClassList" resultMap="classResultSet">
		SELECT *
		FROM CLASSS , CATEGORY
		WHERE CLASSS.C_ID = CATEGORY.C_ID
		AND NAME = #{cateList}
		order by class_create_date desc
	</select>

	<select id="getClassnVoca" parameterType="string" resultMap="classResultSet">
		select distinct cs.CLASS_NO,cs.CLASS_TITLE from classs cs, class_member cm
		where cs.CLASS_NO = cm.CLASS_NO and (ORNER_ID = #{mId} or cm.ID = #{mId}) 
	</select>
	
	

	<select id="selectOrnerId" resultType="string">
		SELECT ORNER_ID
		FROM CLASSS
		WHERE CLASS_NO = #{cNo}
	</select>
	<update id="changeManager">
		UPDATE CLASSS
		SET ORNER_ID = #{id}
		WHERE CLASS_NO = #{cNo}
	</update>
	<delete id="deleteClass">
		DELETE
		FROM CLASSS
		WHERE CLASS_NO = #{cNo}
	</delete>
	<select id="selectChangeName" resultType="string">
		SELECT CHANGE_NAME
		FROM STORAGE
		WHERE REFER_ID = #{id}
	</select>
	<select id="selectTell" resultType="string">
		SELECT EMAIL
		FROM MEMBER
		WHERE MID = #{id}
	</select>
	<insert id="joinClassMember">
		INSERT INTO JOINWAIT VALUES(#{cNo},#{id},#{vRight},SYSDATE)
	</insert>
	<select id="selectJoinWait" resultMap="JoinwaitResultSet">
		SELECT *
		FROM JOINWAIT
		WHERE CLASS_NO = #{cNo}
	</select>
	
	
	<delete id="deleteJoin">DELETE FROM JOINWAIT WHERE CLASS_NO = #{cNo} AND MID = #{id}</delete> 
  <select id="selectSameJoin" resultType="_int">SELECT COUNT(*) FROM JOINWAIT WHERE CLASS_NO = #{cNo} AND MID = #{id}</select> 
  <select id="selectNoticeList" resultMap="ClassNoticeResultSet">SELECT * FROM CLASS_NOTICE WHERE REFER_CNO = #{cNo} ORDER BY create_datae DESC</select> 
  <select id="getListCount" resultType="_int">SELECT COUNT(*) FROM CLASS_NOTICE WHERE REFER_CNO = #{cNo}</select> 
  <update id="addReadCount">UPDATE CLASS_NOTICE SET VIEWS = VIEWS + 1 WHERE CNID = #{cnid}</update> 
  <select id="selectNoticeOne" resultMap="ClassNoticeResultSet">SELECT * FROM CLASS_NOTICE WHERE CNID = #{cnid}</select> 
  <select id="noticeAllList" resultMap="ClassNoticeResultSet">SELECT * FROM CLASS_NOTICE WHERE REFER_CNO = #{cNo} ORDER BY create_datae DESC</select> 
  <select id="selectBoardReplyList" resultMap="replyResultMap">SELECT * FROM CLASS_REPLY WHERE CNID=#{cnid}</select> 
  <insert id="insertNoticeReply">INSERT INTO CLASS_REPLY VALUES(CR_SEQ.NEXTVAL,#{writerNickname},#{writerId},#{writerId},#{content},SYSDATE)</insert> 
  <delete id="deleteNoticeReply">DELETE FROM CLASS_REPLY WHERE RID = #{rId}</delete>
  
  <insert id="classNoticeInsert">
  	INSERT INTO
  	CLASS_NOTICE VALUES('CNID' || CNID_SEQ.NEXTVAL, #{cNo}, #{id}, #{id}, #{title},
  						#{content}, sysdate, '1')
  </insert> 
  
  <select id="getCNID" resultType="string">
  	SELECT CNID
  	FROM CLASS_NOTICE
  	WHERE REFER_CNO = #{cNo} AND REFER_ID = #{id} AND TITLE = #{title}
  </select>
  
  <delete id="deleteNotice">
  	DELETE 
  	FROM CLASS_NOTICE
  	WHERE CNID = #{cnid}
  </delete>
	<update id="updateNotice">
		UPDATE CLASS_NOTICE
		SET TITLE = #{title} , NOTICE_CONTENT = #{content}
		WHERE CNID = #{cnid}
	</update>
	
	<update id="updateRecentDay">
		UPDATE CLASS_MEMBER
		SET LASTDAY = SYSDATE
		WHERE CLASS_NO = #{cNo} AND ID = #{id}
	</update>
	<delete id="outClass">
		DELETE
		FROM CLASS_MEMBER
		WHERE ID = #{id} AND CLASS_NO = #{cNo}
	</delete>
</mapper>
