<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="friendMapper">
	<resultMap id="friendResultSet" type="Friend">
		<id property="mId" column="ID"/>
		<result property="fId" column="FR_ID"/>
		<result property="groupName" column="GROUPNAME"/>
		<result property="comment" column="COMMENTS"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<select id="friendList" parameterType="Friend" resultMap="friendResultSet">
		SELECT f.* ,m.nickname 
		FROM FRIEND f , Member m
		where f.id=#{mId} and mid=f.fr_id and f.status='Y'
	</select>
	
	<select id="findFriend" parameterType="string" resultType="Member">
		select MID,name,nickname,introduce, s.CHANGE_NAME as profileimg
		from member m,storage s where mid=#{id} and REFER_ID = #{id}
	</select>
	
	<select id="findFriend2" parameterType="string" resultType="Member">
		select *
		from member m where nickname=#{nickname}
	</select>
	
	<insert id="insertFriend" parameterType="Friend">
		insert into friend
		values(#{mId},#{fId},#{groupName},default,default)

	</insert>
	<select id="selectFriendAcceptList" parameterType="string" resultMap="friendResultSet">
		SELECT f.* ,m.nickname 
		FROM FRIEND f , Member m
		where fr_id=#{id} and mid=f.id and f.status='N'
	</select>
	<update id="updateStatus" parameterType="Friend">
		update Friend set status='Y' where id=#{mId} and fr_id=#{fId}
	</update>
	<delete id="deleteFriend" parameterType="Friend">
		delete from friend where id=#{mId} and fr_id=#{fId}
	</delete>
	<update id="updateComment" parameterType="Friend">
		update Friend set COMMENTS=#{comment} where id=#{mId} and fr_id=#{fId}
	</update>
	<update id="updateGroup" parameterType="Friend">
		update Friend set GROUPNAME=#{groupName} where id=#{mId} and fr_id=#{fId}
	</update>
</mapper>
