<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StorageMapper">
	<insert id="insertClassFile">
		INSERT INTO STORAGE VALUES(
			FNO_SEQ.NEXTVAL,#{refId},#{category},#{path},#{originName},
			#{changeName},#{fLevel}
		)
	</insert>
</mapper>
