<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TestVocaMapper">
	<resultMap id="classVocaResultSet" type="TestVoca">
		<id property="testNo" column="TEST_NO"/>
		<result property="id" column="ID"/>
		<result property="testDate" column="TEST_DATE"/>
		<result property="score" column="SCORE"/>
		<result property="ok" column="OK_QUE"/>
		<result property="nok" column="NOK_QUE"/>
		<result property="answer" column="MY_ANSWER"/>
	</resultMap>
	
	<select id="selectVocaList" resultMap="classVocaResultSet">
		SELECT *
		FROM TEST_VOCA
		WHERE TEST_NO = #{testNo}
	</select>
	<insert id="insertTestVoca">
		INSERT INTO TEST_VOCA
		VALUES(#{testNo}, #{id}, SYSDATE, #{score}, #{ok}, #{nok}, #{answer})
	</insert>
	<delete id="deleteTestVoca">
		DELETE
		FROM TEST_VOCA
		WHERE ID = #{id} AND TEST_NO = #{testNo}
	</delete>
</mapper>
