<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달 되었다면 빈칸이 아닌 NULL로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.spring.classs.model.vo.Classs" alias="Classs"/>
		<typeAlias type="com.kh.spring.classs.model.vo.ClassMember" alias="ClassMember"/>
		<typeAlias type="com.kh.spring.classs.model.vo.ClassTest" alias="ClassTest"/>
		<typeAlias type="com.kh.spring.classs.model.vo.TestVoca" alias="TestVoca"/>
		<typeAlias type="com.kh.spring.common.model.vo.Storage" alias="Storage"/>
		<typeAlias type="com.kh.spring.common.model.vo.Category" alias="Category"/>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.spring.admin.model.vo.Inquire" alias="Inquire"/>
		<typeAlias type="com.kh.spring.member.model.vo.VisitRecord" alias="Visit"/>
		<typeAlias type="com.kh.spring.friend.model.vo.Friend" alias="Friend"/>
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.spring.board.model.vo.Search" alias="Search"/>
		<typeAlias type="com.kh.spring.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.spring.classs.model.vo.Joinwait" alias="JoinWait"/>
		<typeAlias type="com.kh.spring.classs.model.vo.ClassNotice" alias="ClassNotice"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/friend-mapper.xml"/>
		<mapper resource="mappers/classs-mapper.xml"/>
		<mapper resource="mappers/classMember-mapper.xml"/>
		<mapper resource="mappers/classTest-mapper.xml"/>
		<mapper resource="mappers/testVoca-mapper.xml"/>
		<mapper resource="mappers/storage-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
	</mappers>

</configuration>
